:root {
    --oscuro: #212121;
    --primario: #ffc107;
    --green: #4d915f;
    --light-green: #a1f07d;
    --red: #b36262;
    --yellow: #f5d26a;
    --font: #ede7c2;
    --secundario: #0097a7;
    --gris: #757575;
    --gris-ligero: #e6e6e6;
    --screenWidth: 1200px;
    --optimotion-blue: #70b6e7;
    --optimotion-gray: #dadada;
}

html {
    box-sizing: border-box;
    min-height: 100%;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 100%;
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
    color: var(--gris);
}

h2,
h3,
h4 {
    text-align: center;
}

h3 {
    font-weight: 400;
    font-size: 3rem;
}

h4 {
    font-weight: 400;
    font-size: 2.2rem;
}

h5 {
    font-weight: 700;
    font-size: 2.2rem;
    margin: 1rem 0 0 0;
}

p {
    color: var(--gris);
    font-size: 1.8rem;
}

table {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    background-color: white;
    border-spacing: 0px;
}

th,
td {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
}

input:not([type='checkbox']) {
    width: 100%;
    padding: 16px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
}

input[type='checkbox'] {
    height: 25px;
    width: 25px;
    background-color: #eee;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    margin: 8px 0;
    border-radius: 20px;
    background-color: #f1f1f1;
}

input:focus {
    border: 1px solid #6f6c6c;
    border-radius: 20px;
}

small {
    margin: 1rem 0;
}

label {
    font-size: 1.6rem;
}


/** Utilities **/

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.no-margin {
    margin: 0;
}

.text-center {
    text-align: center;
}

.no-mtb {
    margin-top: 0;
    margin-bottom: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-auto {
    margin-top: auto;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-auto {
    margin-bottom: auto;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-4 {
    margin-left: 4rem;
}

.ml-auto {
    margin-left: auto;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mr-4 {
    margin-right: 4rem;
}

.mr-auto {
    margin-right: auto;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}


/** Dropdowns **/

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    font-size: 1.2rem!important;
    margin-bottom: 0.5rem!important;
    font-weight: 100!important;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/** BackGround **/

.bg-optimotion {
    background-color: rgb(109, 192, 233)
}

.bg-gray {
    background-color: #e2e1e1b3;
    position: relative;
    min-height: 100vh;
}

.dashboard-bg {
    background-color: white;
}


/** Tablas **/

.table {
    background-color: white;
}

.thead-dark {
    background-color: #444242;
    color: #dadada;
}

.table-responsive {
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0 2rem;
    height: 75vh;
    margin-left: 1rem;
}

.index-table th {
    height: 60px;
}

.index-table tbody tr th {
    border-left: 1px solid #e6e6e6
}

.index-table tbody tr:hover {
    background-color: #f5f5f5;
}

.index-table tbody tr td:last-child {
    border-right: 1px solid #e6e6e6
}

.index-table tbody tr td a {
    border-radius: 5px;
}

.index-table tbody tr td a:hover {
    font-size: 17px;
}


/** Botones **/

.btn {
    display: inline-block;
    text-align: center;
    background-color: #444242;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: rgb(76, 134, 175);
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-big {
    padding: 1rem 3rem;
}

.btn-rounded {
    border-radius: 20px;
}

.btn-success {
    background-color: var(--green);
}

.btn-info {
    background-color: rgb(99, 111, 169);
    border-radius: 10px;
}

.btn-info:hover {
    font-size: 18px;
}

.btn-danger {
    background-color: var(--red);
}

.btn-warning {
    background-color: var(--yellow);
}


/** Textos **/

.text-white {
    color: white;
}


/** Formularios **/

.check-input {
    background-color: #eee;
}


/** Cards **/

.card-3d {
    -webkit-box-shadow: 0px 6px 23px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 23px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 23px 3px rgba(0, 0, 0, 0.75);
}

.card-table {
    border: 1px solid #e1e1e1;
    border-radius: 1em;
}

.card-bg {
    background-color: #e6e6e6;
}

.card-normal {
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.26);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.26);
    padding: 2rem 1rem;
    background-color: #e8e3e8;
}

.card-normal h1 {
    color: #212121;
    text-align: center;
}

.card-table:hover {
    -webkit-box-shadow: 26px 13px 49px -18px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 26px 13px 49px -18px rgba(0, 0, 0, 0.38);
    box-shadow: 26px 13px 49px -18px rgba(0, 0, 0, 0.38);
}


/** Containers **/

.container-custom {
    max-width: 95%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    padding-bottom: 3.5rem;
}

.main-title {
    padding: 10px;
    color: #000000c9
}

@media(min-width: 992px) {
    .container-custom {
        max-width: 1500px;
        margin: 0 auto;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 1600px;
    margin: 0 auto;
}

.login {
    font-family: 'Lato', sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form form input {
    background-color: #e2e1e1b3;
}

.login-form form label:not(:last-child) {
    font-size: 20px;
}

.login-form h1 {
    text-align: center;
    font-size: 29px
}

.form-check {
    margin-top: 10px
}


/** Navbar **/

.main-bar {
    background-color: #b2d7f2;
    padding: 1.5rem 0;
    font-family: 'Roboto', sans-serif;
}

.second-bar {
    background-color: var(--optimotion-gray);
    height: 10px;
}

.navbar-title {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.image-logo {
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width: 992px) {
    .navbar-title {
        display: flex;
        justify-content: space-around;
    }
}

.navbar-title a {
    text-decoration: none!important;
}

.navbar-title h2 {
    color: rgb(214, 211, 211);
}

.navbar-title img {
    display: none;
}

@media(min-width: 992px) {
    .navbar-title img {
        display: block;
        max-width: 200px;
        max-height: 100px;
    }
}

.main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-bar {
    overflow: hidden;
}

.main-bar h1 {
    color: gray;
    margin: 0;
}

.main-nav {
    overflow: hidden;
}

.main-nav {
    max-height: 0;
    transition: .5s;
}

.main-title-nav {
    display: none;
}

@media(min-width: 992px) {
    .main-nav {
        max-height: unset;
        /* max-width: 75%; */
        flex-direction: row;
        padding: 0 2rem;
    }
    .main-title-nav {
        display: inline-block;
        justify-content: flex-end;
    }
    .mobile-menu,
    .close-menu {
        display: none!important;
    }
}

.main-nav a {
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: bold;
    position: relative;
    display: block;
    margin: 0 1rem;
    color: gray;
    /* font-size: 17px; */

}

.main-nav a:hover {
    color: black
}

.main-nav a:last-child {
    margin-bottom: 0;
}

@media(min-width: 992px) {
    .main-nav a,
    .dropdown {
        margin-bottom: 0;
    }
}

.main-nav a:hover {
    text-decoration: underline;
}

#nav:target {
    max-height: 800px;
}

@media(min-width: 992px) {
    .barra nav a {
        margin-bottom: 0;
    }
}

.barra nav a:last-of-type {
    margin-bottom: 0;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-menu img {
    max-width: 130px;
    max-height: 100px;
}

@media(min-width: 992px) {
    .mobile-menu img {
        display: none;
    }
}

.mobile-menu a {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    padding: 10px 0;
    text-decoration: none;
}


/* FOOTER  */

footer {
    background-color: #b2d7f2;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}